.header {
  font-size: 24px;
  font-weight: 700;
}

/* Invetory-related styles */
#candy-inventory {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.candy-bar-wrapper {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.candy-counter {
  margin-left: 5px;
  font-size: 18px;
}

.candy-1 {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 0px;
}

.candy-2 {
  background-color: green;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.candy-3 {
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* Shelf-related Styles */
#shelves {
  border-collapse: collapse;
}

.shelf {

}

.candy-slot {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}