.grid-size {
  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 20px;
    }

    span {
      margin-right: 10px;
    }

    button {
      margin: auto;
    }
  }
}
